
.icon-book-open:before { content: '\e800'; } /* '' */
.icon-book-alt:before { content: '\e801'; } /* '' */
.icon-book-open-1:before { content: '\e802'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */