{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/createCourse.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/return-icon/css/fontello.css' %}" type="text/css" />
<!-- <script type="text/javascript" src="{% static 'js/createAdmin.js' %}"></script> -->

{% endblock %}

{% block content %}

<!-- <div>
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div> -->

<div id="backButton">
    <a href="/root/manageCourse"> 
        <i class="icon-angle-circled-left"></i>
    </a>
</div>



<div id="courseFormContainer" class="center">

    <form action="/root/deleteCourse?id={{course.course_id}}" method="post" id="createCourseForm">
        {% csrf_token %}

        <label for="nameInput" >Course name:</label>
        <input type="text" id="nameInput" class="input" name="name" value="{{course.course_name}}" readonly><br>

        <label for="courseInput" >Course type:</label>
        <input type="text" list="courseTypes" id="courseInput" class="input" name="type" value="{{course.course_type}}" readonly><br>

        <input type="submit" id="createButton" value="Delete">
    </form>

</div>

<!-- LABORATORY LECTURE PROJECT SEMINARY PRACTICALS-->

<datalist id="courseTypes">
    <option value="LABORATORY">
    <option value="LECTURE">
    <option value="PROJECT">
    <option value="SEMINARY">
    <option value="PRACTICALS">
</datalist>


{% endblock %}