{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/manageAccount.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/manage-user-type-icons-set/css/fontello.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="backButton">
    <a href="/root/home"> 
        <i class="icon-angle-circled-left"></i>
    </a>
</div>


<div id="container" class="center">

    <div id="createAccountButton" class="mainButton">
        <a href="/root/chooseUserTypeToCreate" class = "mainButtonA"> 
            <i class="icon-user-add"></i>
            <div class="buttonBottomText">Create user</div>  <!-- Create user-->
        </a>
    </div>

    <div id="modifyAccountButton" class="mainButton">
        <a href="/root/chooseUserToModify" class = "mainButtonA"> 
            <i class="icon-user"></i>
            <div class="buttonBottomText">Modify user</div> <!-- Modify user-->
        </a>
    </div>

    <div id="deleteAccountButton" class="mainButton">
        <a href="/root/chooseAccountToDelete" class = "mainButtonA"> 
            <i class="icon-user-delete"></i>
            <div class="buttonBottomText">Delete user</div>      <!-- Delete user-->
        </a>
    </div>

    <div style="clear:both"></div>

</div>
{% endblock %}