{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/manageMail.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/manage-mail-icons-set/css/fontello.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="backButton">
    <a href="/root/home"> 
        <i class="icon-angle-circled-left"></i>
    </a>
</div>


<div id="container" class="center">

    <div id="createAccountButton" class="mainButton">
        <a href="/root/createMail" class = "mainButtonA"> 
            <i class="icon-mail"></i>
            <div class="buttonBottomText">Create e-mail</div>  <!-- Create user-->
        </a>
    </div>

    <div id="deleteAccountButton" class="mainButton">
        <a href="/root/chooseMailToDelete" class = "mainButtonA"> 
            <i class="icon-mail-alt"></i>
            <div class="buttonBottomText">Delete e-mail</div>      <!-- Delete user-->
        </a>
    </div>

    <div style="clear:both"></div>

</div>
{% endblock %}