{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/createClass.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/return-icon/css/fontello.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="backButton">
    <a href="/root/chooseClassToModify"> 
        <i class="icon-angle-circled-left"></i>
    </a>
</div>


<div id="classFormContainer" class="center">

    <form action="/root/createClass?course_id={{course.course_id}}&teacher_id={{teacher.teacher_id}}" method="post" id="createClassForm">
        {% csrf_token %}

        <label for="locationInput">Class location:</label>
        <input type="text" id="locationInput" class="input" name="location" value="{{class.class_location}}" placeholder=""><br>

        <label for="termInput">Class term:</label>
        <input type="text" id="termInput" class="input" name="term" value="{{class.class_term}}" placeholder=""><br>

        <label for="courseInput">Course:</label>
        <input type="text" id="courseInput" class="input" name="course" value="{{course.course_name}}"  readonly><br>  

        <label for="teacherInput">Teacher:</label>
        <input type="text" id="teacherInput" class="input" name="teacher" value="{{teacher.last_name}}"  readonly><br>


        <input type="submit" id="createButton" value="Modify">
    </form>

</div>

{% endblock %}