
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */